{% extends 'base1.html' %}
{% block title %} Provide Hint for a Question{% endblock %}

{% block content %}
      <div class="page-header">
        <h1>{{ question.question }}</h1>
      </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="well bs-component">
              <form class="form-horizontal" method="POST" action="{{ url_for('hint', question_id=question.id,role=role) }}">
                <fieldset>
                  <div class="form-group">
                    <label for="textArea" class="col-lg-2 control-label">Hint </label>
                    <div class="col-lg-10">
                        <textarea class="form-control" name="hint" rows="3" id="textArea"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <button type="submit" class="btn btn-primary" id="submitBtn" name="submitBtn" value="submitBtn">Submit</button>
                    </div>
                    <div class="col-lg-10 col-lg-offset-2">
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
{% endblock %}