{% extends 'base1.html' %}
{% block title %}Give score for Answer{% endblock %}

{% block content %}
{% for question in questions %}
      <div class="page-header">
        <h1>Question : {{ question.question }}</h1>
        <h1>Answer : {{ question.answer }}</h1>
      </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="well bs-component">
              <form class="form-horizontal" method="POST" action="{{ url_for('score', question_id=question.id,role=role) }}">
                <fieldset>
                  <div class="form-group">
                    <label for="textArea" class="col-lg-2 control-label">Score</label>
                    <div class="col-lg-10">
                      <input id="score" name="score" type="number" min="0" max="10" value="{{question.score}}">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
{% endblock %}